.intro_text{
    padding-left: 500px;
    padding-top: 100px;
    color: white;
}

.intro_image{
    padding-left: 100px;
    margin-top: -100px;
}

.intro_list{
    list-style-type: square;
    font-size: large;
    margin-left: -25px;
}

body {
    background-image: url("../../../Desktop/Desktop/Images/moon-red-night-sky-forest-scenery-uhdpaper.com-hd-6.2202.jpg");
    background-size: 50%;
}